*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	width: 100%;
	line-height: 1;
	font-size: 16px;
	background-color: #e2ded2;
	color: #451e13;
	font-family: 'Montserrat';
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

h1 {
	margin: 0;
}

/* Container */
._container {
	width: 100%;
	max-width: 936px;
	margin: 0px auto;
}
#fon_1 {
	position: absolute;
	width: 661px;
	height: 405.26px;
	left: -105px;
	top: 904px;
	z-index: -1;
}

#fon_3 {
	position: absolute;
	width: 605.18px;
	height: 609.77px;
	left: 925.72px;
	top: 128.39px;
	z-index: -1;
}
/* header */
.number {
	position: relative;
	top: 24px;
	padding-right: 35px;
	text-align: end;
	font-size: 13px;
}

.number_text {
	font-weight: 600;
	font-size: 16px;
}
.fa-phone {
	top: 43px;
	font-size: 26px;
	position: relative;
	right: -72px;
	bottom: 4px;
	color: #451e13;
}
a.fa-solid {
	cursor: pointer;
	text-decoration: none;
}

.number li {
	margin-bottom: 5px;
	list-style-type: none;
}

.number > li > a {
	color: #451e13;
}

.navbar {
	padding-right: 0px;
	font-size: 16px;
	left: 0;
	top: 0;
	width: 100%;
	height: 75px;
	background: transparent;
}

.navbar__wrap {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.hamb {
	display: none;
}

.popup {
	display: none;
}

.logo {
	text-decoration: none;
	display: flex;
	align-items: center;
	width: 140px;
	height: 140px;
}
.header {
	right: 0;
	z-index: 1000;
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo {
	position: relative;
	top: -20px;
	left: -30px;
	width: 140px;
	height: 140px;
}

.menu > li > a {
	text-decoration: none;
}

.navbar__wrap .menu {
	display: flex;
}

.navbar__wrap .menu > li {
	display: flex;
	align-items: stretch;
}

.navbar__wrap .menu > li > a {
	top: 30px;
	display: inline-block;
	vertical-align: top;
	margin: 0 18px 0 20px;
	position: relative;
	color: #451e13;
	text-decoration: none;
	transition: color 0.2s linear;
}

.navbar__wrap .menu > li > a:hover {
	color: #9f2f20;
}

/* главный блок */
.main {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contacts_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.description {
	min-width: 300px;
}

.h1 {
	position: relative;
	margin-top: 60px;
	line-height: 76px;
	font-family: Amatic SC;
	font-weight: 700;
	font-size: 30px;
}

.description {
	margin-top: 30px;
	font-weight: 300;
	font-size: 17px;
	line-height: 158.69%;
}

.time_h {
	margin-top: 20px;
	margin-bottom: -12px;
	font-weight: 400;
}
.description_city_h ul {
	margin-top: 20px;
	margin-left: -37px;
	margin-bottom: -12px;
	display: flex;
}
.description_city_h li {
	font-weight: 400;
	list-style-type: none;
}
.description_city_h li:not(:last-child) {
	margin-right: 200px;
}

.description_minsk {
	display: flex;
}

.description_minsk ul {
	margin-top: 20px;
	margin-left: -37px;
	margin-bottom: -12px;
}
.description_minsk li {
	list-style-type: none;
}
.description_minsk ul:not(:last-child) {
	margin-right: 72px;
}
.map {
	margin: 60px auto;
}
.map_mobile {
	display: none;
}

/* form */

.form {
	margin-left: auto;
	margin-right: auto;
	width: 889px;
	height: 543px;

	background-color: #c7b6a4;
	border-radius: 20px;
}

.form_h {
	position: relative;
	top: 40px;
	margin-left: 30px;
	margin-bottom: 55px;
	font-size: 42px;
}

.form_text {
	position: relative;
	margin-left: 32px;
	margin-bottom: 5px;
	font-weight: 300;
	font-size: 20px;
}

.form_name_email {
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: -15px;
}

.form_name_email input {
	padding: 0 20px;
	float: right;
	position: relative;
	width: 400px;
	height: 52px;
	border-radius: 20px;
	border: 2px solid #451e13;
	background-color: transparent;
	color: #451e13;
	box-shadow: 0 0 1px 1px rgba(48, 21, 21, 0);
	transition: 0.17s linear;

	font-family: Neometric;
	font-size: 19px;
	font-weight: 300;
}

.form_name_email input:focus {
	outline: none;
	box-shadow: 0 0px 1px 1px #451e13a1;
}
.form_list {
	margin-left: 30px;
	margin-right: 30px;
}

.form_list select {
	padding: 0 12px;
	width: 100%;
	height: 52px;
	border: 2px solid #451e13;
	background-color: transparent;
	border-radius: 20px;
	color: #451e13;
	box-shadow: 0 0 1px 1px rgba(48, 21, 21, 0);
	transition: 0.17s linear;

	font-family: Neometric;
	font-size: 19px;
	font-weight: 300;
}
.form_list option {
	font-weight: 300;
	background-color: #ccc5b0;
}

.form_list select:focus {
	outline: none;
	box-shadow: 0 0px 1px 1px #451e13a1;
}
.form_message {
	margin-left: 30px;
	margin-right: 30px;
}

.form_message textarea {
	padding: 0 14px;
	padding-top: 10px;
	position: relative;
	width: 100%;
	height: 136px;
	border-radius: 20px;
	border: 2px solid #451e13;
	background-color: transparent;
	color: #451e13;
	box-shadow: 0 0 1px 1px rgba(48, 21, 21, 0);
	transition: 0.17s linear;
	resize: none;
	font-family: Neometric;
	font-size: 19px;
	font-weight: 300;
}

.form_message textarea:focus {
	outline: none;
	box-shadow: 0 0px 1px 1px #451e13a1;
}
.send_survey {
	margin-left: 30px;
	margin-right: 30px;
}
.send_survey input {
	float: right;
	position: relative;
	background-color: #9f2f20;
	border-radius: 20px;
	width: 286.01px;
	height: 52px;
	color: #c7b6a4;
	border: none;
	font-family: Neometric;
	font-size: 19px;
	cursor: pointer;
	transition-duration: 0.2s;
}

.send_survey input:hover {
	box-shadow: 0 1px 3px 0 #451e13;
}
/* footer */

.footer {
	width: 100%;
	margin-top: 50px;
	left: 0;
	right: 0;
	background-color: #ccc5b0;
	color: #451e13;
}

.footer_inner {
	display: flex;
	justify-content: space-between;
}

.footer_left {
	margin-top: 0;
	font-size: 14px;
}
.adress {
	margin-bottom: -7px;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
}

.footer_right {
	margin-top: 0;
	font-size: 14px;
	text-align: end;
}
.contacts {
	margin-bottom: -7px;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 28px;
}

.social {
	display: flex;
	align-items: center;
	list-style-type: none;
}
.social_item {
	display: block;
	/*	background-color: #451e13;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 40px;
	border-radius: 50%;
	color: #451e13;*/
	margin: 0 11px;

	text-decoration: none;
}

.social_item img {
	width: 37px;
	height: 37px;
	color: #451e13;
	transition: 0.3s;
}

.social_item img:hover {
	width: 45px;
	height: 45px;
}

footer a {
	color: #451e13;
	text-decoration: none;
}

footer li {
	margin-bottom: 5px;
	list-style-type: none;
}

footer ul {
	margin-left: 0;
	padding-left: 0;
}

/* media */
@media screen and (max-width: 1024px) {
	.gallery_main_container {
		flex-wrap: wrap;
		display: flex;
		align-items: center;
	}
	.number {
		position: relative;
		top: 24px;
		right: -80px;
		font-size: 13px;
	}
	.fa-phone {
		right: -250px;
	}

	#rectangle {
		display: none;
	}
	.navbar__wrap .menu {
		display: none;
	}
	.hamb {
		z-index: 101;
		display: flex;
		align-items: center;
	}
	.hamb__field {
		z-index: 101;
		cursor: pointer;
	}
	.bar {
		z-index: 101;
		position: relative;
		top: -23px;
		padding-right: 20px;
		display: block;
		width: 30px;
		height: 5px;
		margin: 6px auto;
		background-color: #c7b6a4;
		transition: 0.2s;
	}
	.popup {
		position: fixed;
		top: 0px;
		right: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			268.93deg,
			#c7b6a4 0.64%,
			#c7b6a4 33.67%,
			rgba(199, 182, 164, 0.85) 59.23%,
			rgba(199, 182, 164, 0.72) 76.62%,
			rgba(199, 182, 164, 0) 98.81%
		);
		z-index: 100;
		display: flex;
		transition: 0.3s;
	}
	.popup.open {
		right: 0;
	}
	.popup .menu {
		width: 100%;
		height: 100%;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		padding: 50px 0;
		overflow: auto;
	}
	.popup .menu > li {
		width: 100%;
	}
	.popup .menu > li > a {
		width: 100%;
		display: flex;
		font-family: Amatic SC;
		justify-content: end;
		padding: 1.3% 12%;
		font-size: 50px;
		font-weight: 700;
		color: #451e13;
	}
	.popup .menu > li > a:hover {
		background: linear-gradient(
			268.93deg,
			#c1af9e 0.64%,
			#c1af9e 33.67%,
			rgba(199, 182, 164, 0.85) 49.23%,
			rgba(199, 182, 164, 0.72) 66.62%,
			rgba(199, 182, 164, 0) 88.81%
		);
	}
	.hamb__field.active .bar:nth-child(2) {
		opacity: 0;
	}
	.hamb__field.active .bar:nth-child(1) {
		background-color: #451e13;
		border-radius: 20px;
		transform: translateY(8.5px) rotate(45deg);
	}
	.hamb__field.active .bar:nth-child(3) {
		background-color: #451e13;
		border-radius: 20px;
		transform: translateY(-13px) rotate(-45deg);
	}
	body.noscroll {
		overflow: hidden;
	}
}

@media screen and (max-width: 360px) {
	._container {
		max-width: 300px;
	}
	.number {
		right: 33px;
		font-size: 10px;
	}
	.fa-phone {
		font-size: 20px;
		top: 37px;
		right: -10px;
	}
	.number_text {
		white-space: nowrap;
		font-size: 13px;
	}
	.bar {
		right: 20px;
	}
	.header_logo {
		width: 125px;
		height: 125px;
	}
	/* главный блок */
	.contacts_container {
		max-width: 300px;
	}
	.main {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.description {
		max-width: 320px;
	}

	.h1 {
		position: relative;
		margin-top: 60px;
		line-height: 76px;
		font-weight: 700;
		font-size: 20.3px;
	}

	.description {
		white-space: wrap;
		margin-right: 15px;
		margin-top: 0px;
		font-weight: 400;
		font-size: 14px;
		line-height: 158.69%;
	}

	.time_h {
		margin-top: 20px;
		margin-bottom: -10px;
		font-weight: 600;
	}
	.description_city_h ul {
		margin-top: 20px;
		margin-left: -37px;
		margin-bottom: -12px;
		display: flex;
	}
	.description_city_h li {
		font-weight: 600;
		list-style-type: none;
	}
	.description_city_h li:not(:last-child) {
		margin-right: 111px;
	}

	.description_minsk {
		display: flex;
	}

	.description_minsk ul {
		margin-top: 20px;
		margin-left: -39px;
		margin-bottom: -12px;
	}
	.description_minsk li {
		white-space: nowrap;
		list-style-type: none;
	}
	.description_minsk ul:not(:last-child) {
		margin-right: 13px;
	}
	.map_mobile {
		margin: 60px auto;
		display: block;
	}
	.map {
		display: none;
	}

	/* form */

	.form {
		margin-top: -40px;
		width: 298px;
		height: 297px;
		border-radius: 10px;
	}

	.form_h {
		position: relative;
		top: 30px;
		margin-left: 25px;
		margin-bottom: 40px;
		font-size: 24px;
	}

	.form_text {
		position: relative;
		margin-left: 27px;
		margin-bottom: 0px;
		font-weight: 300;
		font-size: 13px;
	}

	.form_name_email {
		display: flex;
		justify-content: space-between;
		margin-left: 25px;
		margin-right: 25px;
		margin-bottom: -20px;
	}

	.form_name_email input {
		padding: 1px 10px;
		width: 123px;
		height: 23px;
		border-radius: 10px;
		border: 1px solid #451e13;

		font-family: Neometric;
		font-size: 10px;
		font-weight: 300;
	}

	.form_list {
		margin-left: 25px;
		margin-right: 25px;
	}

	.form_list select {
		padding: 0 12px;
		width: 100%;
		height: 23px;
		border: 1px solid #451e13;
		background-color: transparent;
		border-radius: 10px;
		color: #451e13;
		box-shadow: 0 0 1px 1px rgba(48, 21, 21, 0);
		transition: 0.17s linear;

		font-family: Neometric;
		font-size: 10px;
		font-weight: 300;
	}
	.form_list option {
		font-weight: 300;
		background-color: #ccc5b0;
	}

	.form_message {
		margin-left: 25px;
		margin-right: 25px;
	}

	.form_message textarea {
		padding: 0 14px;
		padding-top: 10px;
		position: relative;
		margin-top: -5px;
		margin-bottom: -6px;
		width: 100%;
		height: 45px;
		border-radius: 10px;
		border: 1px solid #451e13;
		font-size: 10px;
		font-weight: 300;
	}

	.send_survey {
		margin-left: 25px;
		margin-right: 25px;
	}
	.send_survey input {
		float: right;
		position: relative;
		background-color: #9f2f20;
		border-radius: 10px;
		width: 123px;
		height: 39px;
		color: #c7b6a4;
		border: none;
		font-family: Neometric;
		font-size: 13px;
	}

	.send_survey input:hover {
		box-shadow: 0 1px 3px 0 #451e13;
	}
	/* footer */

	.footer {
		width: 100%;
		margin-top: 45px;
		left: 0;
		right: 0;
		background-color: #ccc5b0;
		color: #451e13;
	}
	.footer_inner {
		flex-wrap: wrap;
	}
	.footer_left {
		white-space: nowrap;
		margin-top: 0;
		font-size: 10px;
		margin-bottom: -10px;
	}
	.adress {
		margin-bottom: -7px;
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 28px;
	}

	.footer_right {
		white-space: nowrap;
		margin-top: 0;
		font-size: 10px;
		margin-bottom: -10px;
	}
	.contacts {
		margin-bottom: -7px;
		font-size: 12px;
		line-height: 28px;
	}
	.social {
		position: relative;
		left: 50%;
		transform: translate(-50%, 0);
		order: 3;
	}
	.social_item img {
		margin-right: -2px;
		width: 29px;
		height: 29px;
		color: #451e13;
		transition: 0.3s;
	}

	.social_item img:hover {
		width: 31px;
		height: 31px;
	}
	.popup .menu {
		margin-top: 50px;
	}
	.popup .menu > li > a {
		white-space: nowrap;
		width: 100%;
		padding: 1.5% 7%;
		font-size: 40px;
		font-weight: 700;
		color: #451e13;
	}
	.popup {
		background: linear-gradient(
			268.93deg,
			#c7b6a4 0.64%,
			#c7b6a4 33.67%,
			rgba(199, 182, 164, 0.85) 59.23%,
			rgba(199, 182, 164, 0.72) 76.62%,
			rgba(199, 182, 164, 0) 98.81%
		);
	}
}
/* popup */

.overlay {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	/* фон затемнения */
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	position: fixed; /* фиксированное поцизионирование */
	cursor: default; /* тип курсара */
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}

/*** Формируем стили модального окна ***/
.popup_box img {
	border-radius: 20px;
}
.popup_box {
	top: 0;
	right: 0;
	left: 0;
	font-size: 14px;
	z-index: 10;
	display: block;
	visibility: hidden;
	margin: 0 auto;
	width: 90%;
	min-width: 300px;
	max-width: 400px;
	/* фиксированное позиционирование, окно стабильно при прокрутке */
	position: fixed;
	padding: 15px;
	border: 1px solid #383838;
	/* скругление углов */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
	background-color: #e2ded2;
	/* внешняя тень блока */
	-webkit-box-shadow: 0 0 6px rgba(47, 27, 27, 0.8);
	-moz-box-shadow: 0 0 6px rgba(47, 27, 27, 0.8);
	-ms-box-shadow: 0 0 6px rgba(47, 27, 27, 0.8);
	-o-box-shadow: 0 0 6px rgba(47, 27, 27, 0.8);
	box-shadow: 0px 0px 6px rgba(47, 27, 27, 0.8);
	/* полная прозрачность окна, появление при клике */
	opacity: 0;
	/* эффект перехода (появление) */
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target + .popup_box {
	top: 20%; /* положение окна от верха страницы при появлении */
	visibility: visible;
	opacity: 1; /* убираем прозрачность */
}
/* формируем кнопку закрытия */
.close {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0;
	padding-top: 6px;
	width: 40px;
	height: 40px;
	border: 2px solid #f3d29f;
	-webkit-border-radius: 100%;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 100%;
	background-color: #6b573b80;
	text-align: center;
	text-decoration: none;
	/* задаём значения и эффект перехода при наведении */
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	-ms-transition: all ease 0.8s;
	-o-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.close:before {
	color: #e2ded2;
	content: 'x';
	font-size: 20px;
}
.close:hover {
	background-color: #6b573bc7;
	-webkit-box-shadow: 0px 0px 20px rgba(36, 23, 23, 0.594);
	-moz-box-shadow: 0px 0px 20px rgba(36, 23, 23, 0.594);
	box-shadow: 0px 0px 20px rgba(36, 23, 23, 0.594);
}
/* опционально при добавлении вложений */
.popup_box p,
.popup_box div {
	font-size: 23px;
	position: absolute;
	top: 43px;
	margin-left: 170px;
}
/* scroll bar */
::-webkit-scrollbar {
	width: 13px;
}
::-webkit-scrollbar-thumb {
	background: #a58e70c4;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #a58e70;
	border-radius: 20px;
}

.hide_show {
	display: none;
}
